*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

a{
	 cursor:pointer;
}
.main{
	width:910px; 
}
.fanhui {
	margin-left: 800px;
	margin-top: -20px;
}
.main_2{
	margin-top: 80px;
	margin-left: 200px;
	font-size: 15px;
}
.main_2 span{
	color: red;
}
.main_2 input{
	margin-bottom: 10px;
	width: 350px;
	height: 40px;
}
.baocun{
	background-color: #3578A2;
}