*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

a{
	 cursor:pointer;
}
body{
	background-image: url(../images/banner.jpg);
	background-size: 600px 20px;
	background-position: 100% 38%
}
.right{
	margin-left:650px;
	margin-right:20px;
    padding-top: 200px;
}
.right span{
	font-size: 13;
    color: #666;
}
.right .account{
	height: 35px;
	width: 250px;
	margin-top: 7px;
	margin-bottom: 15px;
}
.right .pass{
	height: 35px;
	width: 250px;
}	
.right .right_a2{
	color:#272822;
	font-size: 20px;
}
.right .denglu{
	height: 35px;
	width: 255px;
	margin-bottom: 10px;
	background-color: #2EBBAD;
}
.right .zhuce{
	height: 35px;
	width: 255px;
	margin-top: 5px;
	background-color: #2EBBAD;
}
